@model login.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2 class="manage-page-title">@ViewBag.Title.</h2>

<div class="manage-wrapper">
    <h4 class="manage-page-subtitle">Change your account settings</h4>
    <hr />
    <div class="dl-horizontal">
        <span class="auth-manage">Password:</span>
        <span class="auth-manage-link">
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </span>
    </div>
</div>
