<div class="presentation-section" style="background-image:url('/Content/img/section_one.jpg')">
    <h1 class="presentation-section-text presentation-section-text--title">
        Github-ing your knowledge !
    </h1>
    <h2 class="presentation-section-text presentation-section-text--description">... we FORK resources for you from GitHub!</h2>
</div>
<div class="presentation-section presentation-section--right" style="background-image:url('/Content/img/vimeo.png')">
    <h1 class="presentation-section-text
    presentation-section-text--right  presentation-section-text--title">
        Vimeo-ing your brains !
    </h1>
    <h2 class="presentation-section-text presentation-section-text--right presentation-section-text--description">... we fill your heart with joy!</h2>
</div>
<div class="presentation-section" style="background-image:url('/Content/img/techcrunch.png')">
    <h1 class="presentation-section-text presentation-section-text--title">
        Getting the latest from tech right to you !
    </h1>
    <h2 class="presentation-section-text presentation-section-text--description">... best written tech articles on the net, with love, from techcrunch.com</h2>
</div>
<div class="presentation-section presentation-section--right" style="background-image:url('/Content/img/visual.jpg')">
    <h1 class="presentation-section-text
    presentation-section-text--right  presentation-section-text--title">
        And many more !
    </h1>
    <h2 class="presentation-section-text presentation-section-text--right presentation-section-text--description">... we try to please even the most grumpy!</h2>
</div>
