@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="search-bar-container">
        <form class="search">
            <input type="text" placeholder="Enter keyword...">
            <div class="search-buttons-container">
                <input type="radio" name="category" value="article" class="search-type" checked/>
                <p>Articole</p>
                <input type="radio" name="category" value="code" class="search-type" />
                <p>Cod sursa</p>
                <input type="radio" name="category" value="video" class="search-type" />
                <p>Video</p>
                <input type="radio" name="category" value="slide" class="search-type" />
                <p>Prezentari</p>
            </div>
        </form>
        <!--
           <div class="search-message">
            You searched for:
            <div class="key-terms">
                <a href="#">HTML</a>
                <a href="#">CSS</a>
                <a href="#">JavaScript</a>
            </div>
        </div> 
        -->
    </div>
    <div class="results-container">
        <div class="search-result">
            <h1 class="result-text result-title">First Resource</h1>
            <h2 class="result-text result-author">
                <span>Written by </span>First Author
            </h2>
            <h3 class="result-text result-source">
                <span>Read the original article on</span>
                <a href="www.google.ro">Google It!</a>
            </h3>
            <p class="result-text result-description">
                Lorizzle ipsum dolor gangsta amizzle, tellivizzle adipiscing elizzle. Nullam sapizzle velizzle, stuff volutpat, suscipizzle the bizzle, shizzle my nizzle crocodizzle vizzle, things. Pellentesque bling bling tortizzle. Sizzle erizzle. Fusce izzle dolor dapibizzle turpis tempus shizzlin dizzle. Maurizzle own yo' nibh nizzle turpizzle. in tortor. The bizzle eleifend rhoncus sure. In hac dope platea dictumst. Donec dapibizzle. Curabitur tellizzle urna, bling bling brizzle, mattizzle dang, mammasay mammasa mamma oo sa vitae, nunc. Pizzle suscipizzle. Integizzle semper velit sizzle .
            </p>
            <ul class="tag-list">
                <li class="tag">
                    <a href="#">CSS</a>
                </li>
                <li class="tag">
                    <a href="#">HTML</a>
                </li>
                <li class="tag">
                    <a href="#">WEB</a>
                </li>
                <li class="tag">
                    <a href="#">jQuery</a>
                </li>
                <li class="tag">
                    <a href="#">AngularJS</a>
                </li>
            </ul>
        </div>
        <div class="search-result">
            <h1 class="result-text result-title">First Resource</h1>
            <h2 class="result-text result-author">
                <span>Written by </span>First Author
            </h2>
            <h3 class="result-text result-source">
                <span>Read the original article on</span>
                <a href="www.google.ro">Google It!</a>
            </h3>
            <p class="result-text result-description">
                Lorizzle ipsum dolor gangsta amizzle, tellivizzle adipiscing elizzle. Nullam sapizzle velizzle, stuff volutpat, suscipizzle the bizzle, shizzle my nizzle crocodizzle vizzle, things. Pellentesque bling bling tortizzle. Sizzle erizzle. Fusce izzle dolor dapibizzle turpis tempus shizzlin dizzle. Maurizzle own yo' nibh nizzle turpizzle. in tortor. The bizzle eleifend rhoncus sure. In hac dope platea dictumst. Donec dapibizzle. Curabitur tellizzle urna, bling bling brizzle, mattizzle dang, mammasay mammasa mamma oo sa vitae, nunc. Pizzle suscipizzle. Integizzle semper velit sizzle .
            </p>
            <ul class="tag-list">
                <li class="tag">
                    <a href="#">CSS</a>
                </li>
                <li class="tag">
                    <a href="#">HTML</a>
                </li>
                <li class="tag">
                    <a href="#">WEB</a>
                </li>
                <li class="tag">
                    <a href="#">jQuery</a>
                </li>
                <li class="tag">
                    <a href="#">AngularJS</a>
                </li>
            </ul>
        </div>
        <div class="search-result">
            <h1 class="result-text result-title">First Resource</h1>
            <h2 class="result-text result-author">
                <span>Written by </span>First Author
            </h2>
            <h3 class="result-text result-source">
                <span>Read the original article on</span>
                <a href="www.google.ro">Google It!</a>
            </h3>
            <p class="result-text result-description">
                Lorizzle ipsum dolor gangsta amizzle, tellivizzle adipiscing elizzle. Nullam sapizzle velizzle, stuff volutpat, suscipizzle the bizzle, shizzle my nizzle crocodizzle vizzle, things. Pellentesque bling bling tortizzle. Sizzle erizzle. Fusce izzle dolor dapibizzle turpis tempus shizzlin dizzle. Maurizzle own yo' nibh nizzle turpizzle. in tortor. The bizzle eleifend rhoncus sure. In hac dope platea dictumst. Donec dapibizzle. Curabitur tellizzle urna, bling bling brizzle, mattizzle dang, mammasay mammasa mamma oo sa vitae, nunc. Pizzle suscipizzle. Integizzle semper velit sizzle .
            </p>
            <ul class="tag-list">
                <li class="tag">
                    <a href="#">CSS</a>
                </li>
                <li class="tag">
                    <a href="#">HTML</a>
                </li>
                <li class="tag">
                    <a href="#">WEB</a>
                </li>
                <li class="tag">
                    <a href="#">jQuery</a>
                </li>
                <li class="tag">
                    <a href="#">AngularJS</a>
                </li>
            </ul>
        </div>
        <div class="search-result">
            <h1 class="result-text result-title">First Resource</h1>
            <h2 class="result-text result-author">
                <span>Written by </span>First Author
            </h2>
            <h3 class="result-text result-source">
                <span>Read the original article on</span>
                <a href="www.google.ro">Google It!</a>
            </h3>
            <p class="result-text result-description">
                Lorizzle ipsum dolor gangsta amizzle, tellivizzle adipiscing elizzle. Nullam sapizzle velizzle, stuff volutpat, suscipizzle the bizzle, shizzle my nizzle crocodizzle vizzle, things. Pellentesque bling bling tortizzle. Sizzle erizzle. Fusce izzle dolor dapibizzle turpis tempus shizzlin dizzle. Maurizzle own yo' nibh nizzle turpizzle. in tortor. The bizzle eleifend rhoncus sure. In hac dope platea dictumst. Donec dapibizzle. Curabitur tellizzle urna, bling bling brizzle, mattizzle dang, mammasay mammasa mamma oo sa vitae, nunc. Pizzle suscipizzle. Integizzle semper velit sizzle .
            </p>
            <ul class="tag-list">
                <li class="tag">
                    <a href="#">CSS</a>
                </li>
                <li class="tag">
                    <a href="#">HTML</a>
                </li>
                <li class="tag">
                    <a href="#">WEB</a>
                </li>
                <li class="tag">
                    <a href="#">jQuery</a>
                </li>
                <li class="tag">
                    <a href="#">AngularJS</a>
                </li>
            </ul>
        </div>
        <div class="search-result">
            <h1 class="result-text result-title">First Resource</h1>
            <h2 class="result-text result-author">
                <span>Written by </span>First Author
            </h2>
            <h3 class="result-text result-source">
                <span>Read the original article on</span>
                <a href="www.google.ro">Google It!</a>
            </h3>
            <p class="result-text result-description">
                Lorizzle ipsum dolor gangsta amizzle, tellivizzle adipiscing elizzle. Nullam sapizzle velizzle, stuff volutpat, suscipizzle the bizzle, shizzle my nizzle crocodizzle vizzle, things. Pellentesque bling bling tortizzle. Sizzle erizzle. Fusce izzle dolor dapibizzle turpis tempus shizzlin dizzle. Maurizzle own yo' nibh nizzle turpizzle. in tortor. The bizzle eleifend rhoncus sure. In hac dope platea dictumst. Donec dapibizzle. Curabitur tellizzle urna, bling bling brizzle, mattizzle dang, mammasay mammasa mamma oo sa vitae, nunc. Pizzle suscipizzle. Integizzle semper velit sizzle .
            </p>
            <ul class="tag-list">
                <li class="tag">
                    <a href="#">CSS</a>
                </li>
                <li class="tag">
                    <a href="#">HTML</a>
                </li>
                <li class="tag">
                    <a href="#">WEB</a>
                </li>
                <li class="tag">
                    <a href="#">jQuery</a>
                </li>
                <li class="tag">
                    <a href="#">AngularJS</a>
                </li>
            </ul>
        </div>
    </div>
   