<div class="login-wrapper site-center">
    <h1 class="login-title">
        Welcome to RiX! Please enter your credentials.
    </h1>
    <form class="login-form login-form--centered">
        <input type="text" placeholder="Enter username">
        <input type="text" placeholder="Enter email">
        <input type="text" placeholder="Enter password">
        <input type="text" placeholder="Confirm Password">
        <input type="submit" class="submit-button" value="Sign Up">
    </form>
</div>